body {
	 font:100% Verdana, Arial, Helvetica, sans-serif;
	 background: #666666;
	 margin: 0;
	 padding: 0;
	 text-align: center;
	 color: #000000;
	 background-color: #084971;
  }
  .thrColElsHdr #container {
		width: 46em;
		background: #FFFFFF;
		margin: 0 auto;
		border: 1px solid #000000;
		text-align: left;
  }
  .thrColElsHdr #header {
		background: #DDDDDD;
		padding: 0 10px;
  }
  .thrColElsHdr #header h1 {
		margin: 0;
		padding: 10px 0;
  }
  .thrColElsHdr #sidebar1 {
		float: left;
		width: 11em;
		background: #EBEBEB;
		padding: 15px 0;
  }
  .thrColElsHdr #sidebar2 {
		float: right;
		width: 11em;
		background: #EBEBEB;
		padding: 15px 0;
 }
  .thrColElsHdr #sidebar1 h3, .thrColElsHdr #sidebar1 p, .thrColElsHdr #sidebar2 p, .thrColElsHdr #sidebar2 h3 {
		margin-left: 10px;
		margin-right: 10px;
 }
  .thrColElsHdr #mainContent {
		margin: 012em 012em;
 }
  .thrColElsHdr #footer  {
		padding: 0 10px ;
		background: #DDDDDD;
 }
  .thrColElsHdr #footer p {
		margin: 0;
		padding: 10px 0;
 }
  .fltrt {
		float: right;
		margin-left: 8px;
	}
  .fltlft {
		float: left;
		margin-right: 8px;
	}
	.clearfloat {
		clear: both;
	   height: 0;
		font-size: 1px;
		line-height: 0px;
	}
	.style3 {font-size: 24px}
	.thrColElsHdr #sidebar1, .thrColElsHdr #sidebar2 {padding-top: 30px;}
	.thrColElsHdr #mainContent {zoom : 1; padding-top: 15px;}
	a.beli{background-color:orange:white;text-decoration:none}
	a.beli:hover{background-color: #75923C;color:white;text-decoration:none}
	
		#pesan{background-color: #4B59a9; padding:2;position:relative;left:110;cursor:pointer}
		#notifikasi{background-color: red;font-size:8pt;position:relative;top;-4}
		#info {width: 200px; padding:3; position:absolute;left:110;background-color: #efefef; z-index: 1000; display:none}
		.info2{font-family: arial; font-size: 10pt}
		#loading{height:50; display:none}
		
		
		
		
		
		
		